.brand-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-color: rgb(85, 44, 181);
  color: #f4eded;
  padding: 5px;
  .title {
    margin: auto;
    width: 100%;
  }
}

.fluid-container {
  position: relative;
  top: 40px;
  padding: 25px;
}